<a href="https://colab.research.google.com/github/evandro-marquesim/Python/blob/main/projeto_filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 

filmes = pd.read_csv('/arquivos_csv/movies.csv') # importaÃ§Ã£o csv
filmes

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
filmes.head() # mostra as 5 primeiras rows

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
filmes.columns = ['filme_ID', 'TÃ­tulo', 'genero'] # alterando nomes de variaveis 
filmes.head()

,filme_ID,TÃ­tulo,genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
notas = pd.read_csv('/arquivos_csv/ratings.csv')
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.columns = ['Usuario_ID', 'filme_ID', 'nota', 'momento']
notas.head()

   Usuario_ID  filme_ID  nota    momento
0           1         1   4.0  964982703
1           1         3   4.0  964981247
2           1         6   4.0  964982224
3           1        47   5.0  964983815
4           1        50   5.0  964982931

In [ ]:
notas['nota'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [ ]:
notas['nota'].unique() # mostra os valores que aparecem pelo menos uma vez na coluna

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [ ]:
notas['nota'].mean() # mÃ©dia

3.501556983616962

In [ ]:
notas['nota'].min() # valor minimo

0.5

In [ ]:
notas['nota'].max() # valor maximo

3.5

In [ ]:
notas.describe()

          Usuario_ID       filme_ID           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09