<a href="https://colab.research.google.com/github/evandro-marquesim/Python/blob/main/sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os 
import matplotlib.pyplot as plt

## Como concatenar varios csvs em um unico csv

In [ ]:
files = [file for file in os.listdir('/content/sales')]

all_months_data = pd.DataFrame()

for file in files :
  df = pd.read_csv('/content/sales/'+file)
  all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv('csv_completo.csv', index = False)

In [ ]:
df = pd.read_csv('/content/csv_completo.csv')
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001"
1,194096,AA Batteries (4-pack),1,3.84,05/19/19 14:43,"844 Walnut St, Dallas, TX 75001"
2,194097,27in FHD Monitor,1,149.99,05/24/19 11:36,"164 Madison St, New York City, NY 10001"
3,194098,Wired Headphones,1,11.99,05/02/19 20:40,"622 Meadow St, Dallas, TX 75001"
4,194099,AAA Batteries (4-pack),2,2.99,05/11/19 22:55,"17 Church St, Seattle, WA 98101"
...,...,...,...,...,...,...
186845,176554,Lightning Charging Cable,1,14.95,03/24/19 11:14,"672 12th St, San Francisco, CA 94016"
186846,176555,27in FHD Monitor,1,149.99,03/22/19 20:27,"42 4th St, San Francisco, CA 94016"
186847,176556,AAA Batteries (4-pack),3,2.99,03/14/19 10:29,"871 7th St, Los Angeles, CA 90001"
186848,176557,iPhone,1,700,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"
186849,176557,Lightning Charging Cable,1,14.95,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"